@page
@using Microlab.web.Areas.Identity.Pages.Account
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirme seu e-mail";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Verifique seu e-mail para confirmar sua conta.
            Não recebeu o e-mail?
            <a id="confirm-link" href="@Model.EmailConfirmationUrl"> clique aqui!</a> e reenviaremos pra você.
</p>
    }
    else
    {
<p>
            Verifique seu e-mail para confirmar sua conta.
</p>
    }
}

